<div class="row">    
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <h2>Login</h2>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        <form (ngSubmit)="login($event)" #f="ngForm">
        <div class="form-group">
            <label for="email">Username</label>
            <input type="email" id="email" name="email" [(ngModel)]="loginViewModel.email" class="form-control">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input
            type="password"
            id="password"
            name="password"
            [(ngModel)]="loginViewModel.password"            
            class="form-control">
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Sign In</button>     
        </form>
    </div>
</div>
      