<div class="page">
  <div class="jumbotron">
      <h1>Contoso University</h1>
      <br />
      <p>FrontEnd: </p>
      <p>- Angular 5 CLI</p>
      <br />
      <p>BackEnd: </p>
      <p>- ASP.NET CORE 2.0</p>     
      <p>- OpenID Connect</p>
      <p>- Entity Framework Core + Identity</p>
      <p>- Sql Server</p>
      <br /><br />
      <p>References: 
        <a href="https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/intro">Microsoft</a>, 
        <a href="https://chsakell.com/category/best-practices/">Chsakell</a>,
        <a href="https://www.codeproject.com/Articles/1172349/SPA-using-ASP-Net-Core-plus-Angular-part4">Robert Dyball</a>
      </p>    
  </div>
</div>